# Temporary Files & folders
_generated
.sass-cache
minify.log

# Unnessecary Package Manager Files
#Gemfile.lock # The workflow wants this
package-lock.json
node_modules

# Files kept around as a reference
*.original.*
*.reference.*
