/*Theme: Atelier Lakeside
    Author: Bram de Haan (http://atelierbramdehaan.nl)
    License: ~ MIT (or more permissive) [via base16-schemes-source]
    Maintainer: @highlightjs/core-team
    Version: 2021.09.0

    Modified by BellCube
*/

pre .hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

.hljs {
    padding: 3px 5px;
    color: #7ea2b4;
    background: #161b1d;
}

.hljs ::selection, .hljs::selection {
    background-color: #2f4957ad;
    color: #7ea2b4;
}

.hljs-comment {
    color: #529955; /* VS Code anyone? */
}

.hljs-tag {
    color: #1f8dc9;
}

.hljs-operator, .hljs-punctuation, .hljs-subst {
    color: #649fbd;
}

.hljs-operator {
    opacity: .7;
}

.hljs-bullet, .hljs-deletion, .hljs-name, .hljs-selector-tag, .hljs-template-variable, .hljs-variable {
    color: #da8aab;
}

.hljs-attr {
    color: #d17f2c;
}

.hljs-link, .hljs-literal, .hljs-symbol {
    color: #45bbff;
}

.hljs-number {
    color: #94dd8e;
}

.hljs-variable.constant_ {
    color: #09a5ff;
}


.hljs-class .hljs-title, .hljs-title, .hljs-title.class_ {
    color: #d1d11d;
}

.hljs-strong {
    font-weight: 700;
    color: #c5c55d;
}

.hljs-addition, .hljs-code, .hljs-string, .hljs-title.class_.inherited__ {
    color: #88da5f;
}

.hljs-built_in, .hljs-doctag, .hljs-keyword.hljs-atrule, .hljs-quote, .hljs-regexp {
    color: #4ec9b0; /* VS Code anyone? */
}

.hljs-attribute, .hljs-function .hljs-title, .hljs-section, .hljs-title.function_, .ruby .hljs-property {
    color: #1c95d1;
}

.diff .hljs-meta, .hljs-keyword, .hljs-template-tag, .hljs-type {
    color: #6b6bd4;
}

.hljs-emphasis {
    color: #8181ff;
    font-style: italic;
}

.hljs-meta, .hljs-meta .hljs-keyword, .hljs-meta .hljs-string {
    color: #e253ff;
}

.hljs-meta .hljs-keyword, .hljs-meta-keyword {
    font-weight: 700;
}

a[class*="hljs"] {
    text-decoration: underline;
}
