---
---

.docs.sideBar_cont {
    display: grid;
    grid-template-columns: minmax(0px, auto) min-content;
    width: 100%;
}

.docs.sideBar_cont > .docs.sideBar {
    grid-column: 2;
    grid-row: 1;
    max-width: 250px;
    background-color: #222;
    border: #fff9 1px solid;
    padding: 12px;
    border-radius: 6px;
    margin-left: 8px;
    height: min-content;
}

@media (max-width:800px){
    .docs.sideBar_cont {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .docs.sideBar_cont > .docs.sideBar {
        max-width: 100%;
        margin: 0px 8px;
        margin-bottom: 16px;
    }
}

.docs.sideBar_cont > :not(.docs.sideBar){
    grid-column: 1;
    width: 100%;
    display: block;
}

.docs.sideBar_cont > .docs.content{
    grid-row: 1;
}

.docs.mdl-navigation__link {
    padding-left: 16px;
}

.docs.bcd-summary {
    padding: 0px 16px;
}

.docs .bcd-details_inner {
    padding: 0px 24px;
}

.docs h1 {
    font-size: 2em;
    margin: 8px;
}
