---
---

.preload * {
    transition-duration: 0s !important;
    animation-duration: 0s !important;
}

.lazy-styles-not-loaded .needs-lazy {
    animation: none !important;
    &,* { display: none !important; }
}

.needs-lazy {
    // Animate the lazy-loaded content in via opacity
    animation: fadeIn 1.5s cubic-bezier(0.55, 0, 0.4, 1) !important;
}

@keyframes fadeIn { 0% { display: none; opacity: 0; } 25% { opacity: 0; } 100% { opacity: 1; } }

[aria-hidden="true"], [aria-hidden="true"] * {
    pointer-events: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}

.hidden {
    border: 0 !important;
    display: none !important;
    height: 0 !important;
    margin: 0 !important;
    opacity: 0 !important;
    padding: 0 !important;
    transform: scale(0) !important;
    width: 0 !important;
    z-index: -1 !important;
}

img {
    max-width: 100%;
}

/*  Typography
    The font sizes and line heights have been calculated assuming a body font
    size of 14sp and a subhead font size of 16sp, which are the MD values for
    devices. The desktop sizes are 13sp and 15sp respectively.
    Letter spacing (tracking) values in the spec are assumed to be in units of
    1/1000 em. They are commented out as the results don't match the image in
    the spec.
*/

html > body {
    color: #fafafa;
    font-family: Roboto, 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

*::selection {
    background: #60a0ff73;
    text-shadow: 0 0 5px #00000033;
}

* {
    transition-duration: 0.2s;
    transition-property: color, background-color, border-color, fill, text-shadow, box-shadow, opacity, filter, text-decoration-color;
    transition-timing-function: ease-in-out;
}

.mdl-layout-title {
    color: #fff;

    :is(img, svg) {
        height: 48px;
        margin-right: 8px;
    }

}

.needs-shadow, .mdl-layout__header-row > .mdl-layout-title, .mdl-button--colored {
    text-shadow: 2px 2px 10px #000000a0;
}

.mdl-button--colored {
    text-shadow: 2px 2px 10px #000000bb;
}

.mdl-navigation__link--icon {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    .material-icons {
        width: 24px;
    }

    > :not(.material-icons, .center-vert) {
        width: 24px;
        padding-left: 24px;
    }
}

.noOverflow {
    overflow: hidden;
}

a {
    color: #24b6ff;
    font-weight: normal;
    text-decoration: none;
}

p {
    font-size: 17px;
}

.bcd-projects {
    align-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    a {
        max-width: 350px;
    }
}

.GitHub-Stats-Card {
    border-radius: 2pt;
    line-height: 0;
    width: 100%;
}

.GitHub-Stats-Card:is(:hover, :-ms-keyboard-active, :focus, :active) {
    background-color: #345a;
}

.mdl-layout__content {
    background: #1b1b1b;

    &:not(footer) {
        min-height: calc(100vh - 152px);
    }

    &:is(footer) {
        align-items: center;
        background-color: #222;
        bottom: 0;
        display: flex;
        height: min-content;
        justify-content: center;
        overflow: visible;
        padding: 12px;
        padding-left: 312px;
        padding-bottom: 12px;
        position: sticky;
        vertical-align: middle;

        p {
            bottom: auto;
            font-size: medium;
            margin: 0;
            position: relative;
            text-align: center;
            top: auto;
        }
    }
}

.center-vert {
    display: flex !important;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    text-align: center;
}

/* For MD subheaders suitable for lists, menus and grids. */
.subheader {
    color: rgba(255, 255, 255, 0.6);
    height: 48px;
    line-height: 48px;
    padding-left: 16px;
}

/* For MD navigation drawer subheaders. */
nav>.subheader {
    border-top: 1px solid #ffffff40;
    margin-top: 8px;
}

/* For MD generic dividers. */
hr {
    background: #ffffff66;
    height: 1px;
}

/* For MD navigation drawer dividers. */
nav>hr {
    margin: 8px 0;
}

/* Scale headings */
h3 {
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0 20px;
}

h4 {
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0 16px;
}

h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin: 21px 0 14px;
}

:not(pre) > code, .code {
    background-color: #333c;
    border: 1px solid #eeeeee08;
    border-radius: 3px;
    color: #fff;
    margin: 1px;
    padding: 2px 3px;
}

pre {
    background-color: #333333f0;
    border: 1px solid #eeeeee0f;
    border-radius: 6px;
    color: #fff;
    display: block;
    overflow-x: scroll;
    padding: 8px;
    scrollbar-gutter: stable both-edges;

    min-height: 48px;

    code {
        margin-top: auto;
        margin-bottom: calc(auto - 8px);
    }

    button:first-child {
        position: absolute;
        right: 32px;

        +code {
            //margin-left: -32px;
            margin-top: -12px;
        }
    }
}

.mdl-button {
    text-transform: none;
    -webkit-user-select: none;
    user-select: none;
}


/* Remove extra margin above the first heading of a page. */
:is(h1, h2, h3):first-child {
    margin-top: 0;
}

/* Space out definition list items. */
dt:not(:first-child) {
    margin-top: 16px;
}

/* Convert settings page styling. */
section {
    display: inline-block;
    padding: 8px;
    width: 45%;
}

.text-alt01 {
    color: #49ba56;
}

.text-alt02 {
    color: #8d49ba;
}

.text-alt03 {
    color: #ba5449;
}

.text-alt04 {
    color: #ba4982;
}

.text-alt05 {
    color: #b649ba;
}

.text-alt06 {
    color: #baaf49;
}

.noBullet > li {
    display: block;
}

.js-bcd-summary {
    color: #fff;
    background: none;
    border: none;

    height: max-content;
    width: 100%;

    pointer-events: all;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    padding: 16px 24px;
    padding-bottom: 4px;

    &.noTopPad, &:first-child {
        padding-top: 0;
    }

    &.min-padding {
        padding: 6px;
        padding-bottom: 4px;
    }

    > :is(h1, h2, h3, h4, h5, h6) {
        margin: 0;
        padding: 0;
    }

    outline: none;

    :not(.material-icons) {
        transition-duration: 100ms;
        transition-timing-function: ease-in-out;

        text-shadow: #fff0 0 0 1px;
        text-decoration: underline #fff0 7.5%;
    }

    &:is(:hover, :-ms-keyboard-active, :focus, :active) :not(.material-icons) {
        text-decoration-color: #fff;
        text-shadow: #000b 2px 2px 5px;
    }


    * {
        -webkit-user-select: none;
        user-select: none;
    }


    &.is-open > .open-icon-90CC { rotate: 0deg; }
    > .open-icon-90CC {
        transition: rotate;
        transition-duration: 0ms; // Overridden by JS

        rotate: -90deg;
    }

    .open-icon-90CC + * {
        padding-left: 16px !important;
    }

    .material-icons {
        color: #ffffffbf;
    }
}

.mdl-layout__drawer {
    background-color: #222222;
    border-right-color: #ffffff;
    color: #ffffffbf;

    overflow-x: hidden;

    h1 { font-size: 30px; }
    h2 { font-size: 25px; }
    h3 { font-size: 20px; }

    h1, h2, h3 {
        color: white;

        padding-top: 0;
        padding-right: 40px;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-left: 24px;

        &:first-child {
            margin-top: -24px;
        }
    }

    .js-bcd-summary { h1, h2, h3 {
        margin-top: 0;
        padding-left: 0;
    }}

    .mdl-layout-title {
        padding-top: 0;
        padding-left: 0;

        margin-left: auto;
        margin-right: auto;
    }

    .center-vert {
        gap: 24px;
    }
}

.mdl-button--raised.mdl-button--colored:is(:active, :not(:active), :focus) {
    &.bcd-button-open {
        background-color: #0084ff;
    }

    &.bcd-button-openDir {
        background-color: #00a2b8;
    }

    &.bcd-button-openFile {
        background-color: #3c60ff;

    }

    &.bcd-button-save {
        background-color: #009950;
    }
}

.js-bcd-details {
    overflow: hidden;
    outline: none;

    > :not(.js-bcd-details-inner) { display: none; }

    &.is-open > .js-bcd-details-inner { transition-timing-function: cubic-bezier(0, 0.3, 0.8, 1); }
    > .js-bcd-details-inner {
        transition-property: height, margin-top;
        transition-timing-function: cubic-bezier(0.1, 0, 0.6, 1);

        margin-top: -9999vh;

        height: max-content;

        outline: none;

        /* Defaults (overridden by universal.ts) */
        animation-duration: 0ms;
        transition-duration: 0ms;
    }

    &.contPad01-left > .js-bcd-details-inner {
        padding-left: 12px;
    }

    &.contPad02-left > .js-bcd-details-inner {
        padding-left: 16px;
    }

    &.contPad03-left > .js-bcd-details-inner {
        padding-left: 24px;
    }

    &.contPad04-left > .js-bcd-details-inner {
        padding-left: 32px;
    }

    &.contPad05-left > .js-bcd-details-inner {
        padding-left: 48px;
    }
}

.mdl-tooltip {pointer-events: none;}

.mdl-tooltip, .js-bcd-tooltip {
    background: #111111ee;

    max-width: 500px;
    min-width: 10%;

    margin-right: 24px;

    font-size: small;
    line-height: 150%;

    transform-origin: top center;
    z-index: 999;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: fixed;
    top: -500px;
    left: -500px;
    padding: 8px;
    text-align: center;

    transform: scale(0);
    &.is-active, &.active { transform: scale(1); }

    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    animation: none !important;

    > * {
        padding: 0;
        margin: 0;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
    }

    h4 {
        font-size: 16px;
    }

    > .js-bcd-tooltip_gap-bridge {
        position: absolute;
        display: block;
        //background-color: red;
        visibility: none;
    }
}

.danger-block, .warning-block, .notice-block {
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 8px;
    color: #ddd;

    &.danger-block {
        background-color: #f003;
    }

    &.warning-block {
        background-color: #ff04;
    }

    &.notice-block {
        background-color: #0cf3;
    }

    :first-child {
        color: #fff;
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
}

.wide01 {
    max-width: 600px !important;
}

.wide02 {
    max-width: 700px !important;
}

.wide03 {
    max-width: 800px !important;
}

.wide04 {
    max-width: 900px !important;
}

.wide05 {
    max-width: 1000px !important;
}

.mdl-navigation {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #fff2;
}

::-webkit-scrollbar-thumb {
    background: #fff9;
    transition-property: background;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;

    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fffd;
}

.mdl-textfield {
    vertical-align: middle;
}

.icon--nexus {
    .nexus-SVG-primary, .nexus-SVG-secondary {
        // VISH DID IT TO ME
        transition-timing-function: cubic-bezier(0, 0, 1, 0.2);
        transition-duration: 250ms;
        transition-delay: 10ms;
    }

    .nexus-SVG-primary {
        fill: #222;
    }

    .nexus-SVG-secondary {
        fill: #000;
    }

    &:is(:hover, :-ms-keyboard-active, :focus, :active) {
        .nexus-SVG-primary {
            fill: #da8e35;
        }

        .nexus-SVG-secondary {
            fill: #b4762c;
        }
    }
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link, .mdl-navigation__link {
    color: #fffffff2;
    display: block;
    padding: 16px 40px;
    margin: 0;
    white-space: nowrap;
    width: 100%;
    outline: none;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:is(:hover, :-ms-keyboard-active, :focus, :active), .mdl-navigation__link:is(:hover, :-ms-keyboard-active, :focus, :active) {
    background-color: #ffffff40;
}

.mdl-textfield__label {
    color: #ffffff80;
}

.mdl-textfield__input {
    border-bottom-color: #ffffe03d;
}

.mod-manager-list img {
    height: 18px;
}

.mod-manager-list li {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 4px;
}

@keyframes pulseBackward {
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        visibility: hidden;
    }

    50% {
        -webkit-transform: scale(.01);
        transform: scale(.01);
        visibility: visible;
    }

    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
}

.mdl-switch {
    width: fit-content;
    margin-right: 64px;
}

.mdl-button--raised.mdl-button--colored {
    color: #ffffff;
    border-radius: 3px;
}


.dual-column {
    margin-left: 24px;
    display: grid;
    grid-template-columns: min-content auto;

    > * {
        height: min-content;
    }

    .left {
        grid-column: 1;
        margin-right: 16px;
    }
}

.smaller {
    transform: scale(.8);
}

.tabs-content-container {
    padding: 0;
    overflow: visible;
    height: max-content;

    > * {
        padding: 0;
        padding-top: 16px;

        transition-property: margin-left;
        margin-left: 0; // overridden later in JavaScript

        height: max-content;
        width: max-content;

        overflow: hidden;
        overflow-y: visible;

        display: grid;
        justify-content: start;
        align-items: start;
        grid-template-columns: repeat(16, calc(100vw - 52px));
        grid-template-rows: 100%;
        gap: 52px;
    }
}

.tab-content {
    min-height: 70vh;
    min-width: 100%;

    opacity: 0; &.active { opacity: 1; }
    &.tab-content__hidden { visibility: none; }
    transition-duration: inherit;
    transition-timing-function: inherit;
}

.mdl-layout__header-row {
    z-index: 3;
}

.tabs-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    gap: 16px;

    padding-left: 316px;

    height: max-content;
    width: calc(100vw + 300px);

    overflow: hidden;
    overflow-x: auto;

    background-color: #666d;
    vertical-align: top;

    position: sticky;
    margin-top: -20px;
    margin-left: -300px;
    z-index: 2;
}

@mixin customColoredButton($hue, $sat, $lum, $alpha: 1, $satShiftIntensity: 1, $lumShiftIntensity: 1, $doAltRipple: false) {

    @if $doAltRipple {
        .mdl-ripple {
            background-color: #0008;
        }
    }

    // Normal State
    &, &:focus:not(:active, .active) {
        background-color: hsla($hue, $sat, $lum, $alpha - 0.15);
        color: #ffffff;

        padding: 0 40px;
        margin: 6px 0 5px;
        height: 40px;

        -webkit-tap-highlight-color: #fff4;
        box-shadow: 2px 2px 3px #0001;

        text-shadow: 2px 2px 10px #000b;

        border-radius: 4px;
    }

    // Hover State
    &:hover, :focus:hover {   &:not(:active, .active) {
        background-color: hsla($hue, ($sat  - (10 * $satShiftIntensity)) * 1%, ($lum + (13 * $lumShiftIntensity)) * 1%, $alpha);
        box-shadow: 3px 3px 4.5px #00000028;

        text-shadow: 1.5px 1.5px 7px #000d;
    }}

    // Active State
    &:is(:active, .active) {
        background-color: hsla($hue, ($sat  - (10 * $satShiftIntensity)) * 1%, ($lum + (27 * $lumShiftIntensity)) * 1%, $alpha + .25);
        box-shadow: 4px 4px 7px #0004;

        text-shadow: 1px 1px 10px #000f;
    }
}

#bcd-stepBTN-builder {
    @include customColoredButton(209, 100, 50, 1, 0.2, 0.1, true);
}

#bcd-stepBTN-vortex {
    @include customColoredButton(31, 67, 50, 1, 0.1, 0.6, true);
}

#bcd-stepBTN-mo2 {
    @include customColoredButton(199, 82, 61, 1, 0.1, 0.1, true);
}

.js-tab-list-button, .js-tab-list-button.mdl-button:focus:not(:active) {
    @include customColoredButton(160, 33, 30);
}

.js-bcd-modal {
    margin: auto;
    position: fixed;
    top: 64px;
    left: 32px;
    right: 32px;
    bottom: 128px;
    overflow-wrap: break-word;

    min-width: 40%;
    min-height: 40%;

    max-width: 80%;
    max-height: 80%;

    border-radius: 10px;
    border-width: 5px;
    border-color: #0af;
    background-color: #333;
    box-shadow: 0 0 10px #000;
    z-index: 256;
}

.mdl-layout__header .mdl-layout__drawer-button {
    background-color: #0000;
    user-select: none;
}

.js-bcd-modal, .js-bcd-modal-obfuscator {
    opacity: 0;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.js-bcd-modal-obfuscator {
    transition-duration: 400ms;
}

.js-bcd-modal[open], .js-bcd-modal-obfuscator.is-visible {
    opacity: 1;
}

.js-bcd-modal-buttons {
    margin: 0;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.w128 {
    width: 128px;
}

.w144 {
    width: 144px;
}

.w192 {
    width: 192px;
}

.mr8 {
    margin-right: 8px;
}


.js-dynamic-textarea-height, .js-dynamic-textarea-width {
    resize: none;
    overflow: visible;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}


.drawer-init-open .mdl-layout__obfuscator {
    background-color: #0008 !important;
    visibility: visible !important;
}


.builderStep {
    &:not(.active_) { display: none; }

    opacity: 0; &.active { opacity: 1; }
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    transition-property: opacity;
}
