@use 'colors' as *;

.mdl-tooltip {pointer-events: none;}

.mdl-tooltip, .js-bcd-tooltip {
    background: #111111ee;

    max-width: 500px;
    min-width: 10%;

    margin-right: 24px;

    font-size: small;
    line-height: 150%;

    transform-origin: top center;
    z-index: 100;
    border-radius: 2px;
    color: $color-off-white;
    display: inline-block;
    font-weight: 500;
    position: fixed;
    top: -500px;
    left: -500px;
    padding: 8px;
    text-align: center;

    transform: scale(0);
    &.is-active, &.active { transform: scale(1); }

    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    animation: none !important;

    > * {
        padding: 0;
        margin: 0;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
    }

    h4 {
        font-size: 16px;
    }

    > .js-bcd-tooltip_gap-bridge {
        position: absolute;
        display: block;
        //background-color: red;
        visibility: hidden;
    }
}
