/*  Typography
    The font sizes and line heights have been calculated assuming a body font
    size of 14sp and a subhead font size of 16sp, which are the MD values for
    devices. The desktop sizes are 13sp and 15sp respectively.
    Letter spacing (tracking) values in the spec are assumed to be in units of
    1/1000 em. They are commented out as the results don't match the image in
    the spec.
 */
html>body {
    font-family: Roboto, 'Helvetica', 'Arial', sans-serif;
    color: #FAFAFA;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Improve layout of navigation elements. */
.mdl-layout-title > img|svg {
    height: 48px;
    margin-right: 8px;
}

.mdl-navigation__link--icon > .material-icons {
    height: 24px;
}

.mdl-navigation__link--icon > :not(.material-icons, div.center-vert) {
    height: 24px;
    padding-left: 32px;
}

/* Misc */
a {
    text-decoration: none;
}

p {
    font-size: 17px;
}

.Projects{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.GitHub-Stats-Card {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    width: 95% !important;
    max-width: 500px;
    border-radius: 8px;
}

.GitHub-Stats-Card:hover, .GitHub-Stats-Card:focus {
    background-color: #00ffaa;
}

.mdl-layout__content {
    padding: 16px;
    background: #1b1b1b;
    height: max-content;
}

footer.mdl-layout__content {
    /*
    height: min-content;
    */
    vertical-align: middle;
    position: sticky;
    background-color: #222222;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

footer.mdl-layout__content span {
    position: relative;
    top: auto;
    bottom: auto;
    margin-bottom: 0px;
    text-align: center;
}

.center-vert {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

/* Progress indication for search and contributor listing. */
#progress {
    margin: 16px;
}

#progress.hidden {
    display: none;
}

/* For MD subheaders suitable for lists, menus and grids. */
.subheader {
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    height: 48px;
    line-height: 48px;
}

/* For MD navigation drawer subheaders. */
nav>.subheader {
    border-top: 1px solid #ffffff40;
    margin-top: 8px;
}

/* For MD generic dividers. */
hr {
    height: 1px;
    background: #ffffff66;
}

/* For MD navigation drawer dividers. */
nav>hr {
    margin: 8px 0;
}

/* Scale headings */
h3 {
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0 20px;
}

h4 {
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0 16px;
}

h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin: 21px 0 14px;
}

/* Improve code styling. */
pre {
    border: 1px solid #e1e4e5;
    background-color: #00ffaa;
    padding: 8px;
    overflow: auto;
}

pre code {
    padding: 0;
    color: #ffffff;
    border: none;
}

code {
    background-color: #333;
    padding: 2px 5px;
    color: #fff;
    border: 1px solid #eeeeee55;
    border-radius: 5px;
}

/* Remove extra margin above the first heading of a page. */
:is(h1, h2, h3):first-child {
    margin-top: 0;
}

/* Space out definition list items. */
dt:not(:first-child) {
    margin-top: 16px;
}

/* Convert settings page styling. */
section {
    display: inline-block;
    width: 45%;
    padding: 8px;
}

/* Override link font weight. */
a {
    font-weight: normal;
    color: #24b6ff;
    /*color: #22222222;*/
}

/*
    Navigation
*/

    /* Fix search input vertical position. */
    .mdl-textfield {
        vertical-align: middle;
    }

    [class^=nexus-SVG-]{
        /* VISH DID IT TO ME */
        transition-property: fill;
        transition-timing-function: cubic-bezier(0, 0, 1, 0.2);
        transition-duration: 250ms;
        transition-delay: 10ms;
    }

    .nexus-SVG-primary{
        fill: #222;
    }
    .icon--nexus:hover .nexus-SVG-primary, .icon--nexus:focus .nexus-SVG-primary{
        fill: #da8e35;
    }
    .nexus-SVG-secondary{
        fill: #000;
    }
    .icon--nexus:hover .nexus-SVG-secondary, .icon--nexus:focus .nexus-SVG-secondary{
        fill: #b4762c;
    }

    div.mdl-layout__drawer {
        background-color: #222222;
        color: #ffffffbf;
        border-right-color: #ffffff;
    }

    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
        color: #fffffff2;
        display: block;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding: 16px 40px;
        margin: 0;
    }

    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
        background-color: #ffffff60;
    }

    /* Don't allow navigation text to wrap. */
    .mdl-navigation__link {
        white-space: nowrap;
    }

    .mdl-navigation__link--icon {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }

    .mdl-layout__header{
        background-color: #2083df;
    }

    /* Headers */
    div.mdl-layout__drawer :is(h1, h2, h3){
        color: white;

        padding-top: 0px;
        padding-right: 40px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-left: 24px;
    }
    div.mdl-layout__drawer :is(h1, h2, h3):first-child{
        padding-top: 0px;
        margin-top: -25px;
    }

    div.mdl-layout__drawer .center-vert{
        gap: 24px;
    }
    
    div.mdl-layout__drawer summary{
        user-select: none;
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }

    /* Header Size */
    div.mdl-layout__drawer summary :is(h1, h2, h3){
        margin-top: -24px;
    }
    div.mdl-layout__drawer h1{
        font-size: 30px;
    }
    div.mdl-layout__drawer h2{
        font-size: 25px;
    }
    div.mdl-layout__drawer h3{
        font-size: 20px;
    }

/* https://fonts.googleapis.com/icon?family=Material+Icons */

    /* fallback */
    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/materialicons/v126/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
    }

    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
    }
