{%comment%}
{% assign folders = ".,." | split:"," %}

<pre>{{ include.pages | map: "dir" | sort | jsonify }}</pre>

<br />
<br />
<br />
<br />

{% assign currentPath = layout.currentPath | default: "/" %}

{% assign removeFirst = "/" | append: currentPath %}

{% assign grouped_pages = include.pages | group_by_exp: "item", "item.dir | remove_first: removeFirst | split: '/' | first" %}
<pre>{{ include.pages | map: "dir" | sort | jsonify }}</pre>
<pre>{{ grouped_pages | map: "name" | jsonify }}</pre>

{% for segment in grouped_pages | sort %}
    <!--<pre>{{ segment | inspect }}</pre>-->

    {% if segment.name contains ".html" or segment.name == nil %}

        {% for _page in segment.items %}
            <a href="{{site.baseurl}}{{ _page.url }}" >
                {% if _page.formattedTitle == nil %}{{ _page.title }}{% else %}{{ _page.formattedTitle }}{% endif %}
            </a>
            <br />
        {% endfor segment.items %}

    {% else %}
        {% assign folders = folders | push: segment %}
    {% endif %}
{% endfor %}

<pre>{{ folders | escape | jsonify }}</pre>

{% for folder in folders %}
    {% case folder.name %}
        {% when nil, "", "/", "assets", "robots.txt", "redirects.json" %}

        {% else %}
            <button class="bcd-summary adjacent" type="button" style="padding-left:0px">
                <i class="material-icons open-icon-90CC">expand_more</i><h3>{{folder.name | capitalize}}</h3>
            </button>

            <div class="bcd-details adjacent contPad01-left">
                {% assign temp_pages = folder.items | map: "url" %}
                {% assign ___temp_currentPath = currentPath | append: folder.name | append: "/" %}
                {% include sitemap_groupPagesRecursive.html pages=temp_pages currentPath=___temp_currentPath %}
            </div>
    {% endcase %}
{% endfor %}
{% endcomment %}
