---
layout: page
use_docs_CSS: true
---

{% if !page.disableNav %}
<div class="docs sideBar_cont">
    <div class="docs sideBar nav-content">
        <div class="noOverflow">
            {% if site.data.docs_nav[page.navType] %}
                {% assign type = site.data.docs_nav[page.navType] %}
                {% include docs__side__item.html input=type %}
            {% else %}
                {%for type in site.data.docs_nav}
                    {% include docs__side__item.html input=type %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="docs content">
        {{ content }}
    </div>
</div>

{% else %}

<div class="docs content">
    {{ content }}
</div>

{% endif %}
