---
layout: page
use_docs_CSS: true
---
{% if page.disableNav %}

<div class="has-article">
    <article class="docs content">
        {{ content }}
    </article>
</div>

{% else %}

<div class="docs sideBar_cont">
    <div class="docs sideBar nav-content">
        <div class="noOverflow">
            {% if page.navType and site.data.docs_nav[page.navType] %}
                {% assign type = site.data.docs_nav[page.navType].children %}
                {% include docs__side__item.html input=type %}
            {% else %}
                {% include docs__side__item.html input=site.data.docs_nav %}
            {% endif %}
        </div>
    </div>
    <div class="has-article">
        <article class="docs content">
            {{ content }}
        </article>
    </div>
</div>

{% endif %}
